#root {
  width: 100%;
  min-height: 100vh;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
